.borda{
    background: red;
}
#titulo{
    background: blue;

}
h1{
    background: cadetblue;
}
.borda h1{
    background: chocolate;
}
hi .borda{
    background: darkblue;
}
/*ordem
#id
tag.classe
.classe
tag


*/