.img1:hover{ /*hover é cando o mouse passa por cima*/
   opacity: 0.5;
}
.img2{
    opacity: 0.8;
}
.img3{
    opacity: 0.7;
}

a.botao {
    padding: 15px;
    background: cornflowerblue;
    color: aqua;
    text-decoration: none;
    
}
a.botao:hover{
    opacity: 0.7;
}